

#addToCollectionPopUp {
  position: fixed;
  font-size: 28px;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 4px 15px;
  background: white;
  display: none;
}

#addToCollection {
    padding-right: 5px;
}

#addToCollection .fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}

#addToCollection .fa-plus {
  font-size: 0.5em;
}

#addToCollectionPopUp .item {
  display: inline-block;
}

#collectionsPopUp {
  display: none;
  position: absolute;
  left: 60px;
  top: 130px;
  width: 379px;
  height: 655px;
  background: white;
  padding: 0 20px;
}

.collections-pop-up-container {
  position: relative;
}

#collectionsPopUp h2 {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.new-collection__label {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.new-collection__label .plus-icon {
  border: 1px dashed #bbb;
  padding: 0 8px 4px;
  border-radius: 4px;
}

.new-collection__form {
  display: none;
}

.collection-avatar-box {
  width: 31px;
  height: 31px;
  background: inherit;
  background-color: #d7d7d7;
  border: none;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.new-collection-name {
  display: inline-block;
  width: 330px;
  height: 39px;
  background-color: #DEDEDE;
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #999999;
  text-align: left;
  margin: 15px 0;
}

#collectionList {
  margin: 15px 0;
  padding: 0;
}

.collection-item {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  line-height: normal;
  list-style: none;
  padding-bottom: 10px;
  cursor: pointer;
}

.collection-item:before {
  content: '';
  width: 41px;
  height: 41px;
  background: inherit;
  background-color: #d7d7d7;
  border: none;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.btn {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.btn-primary {
  width: 165px;
  height: 48px;
  margin: 0 10px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 6px;
}

#toast {
  display: none;
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  position: fixed;
  padding: 10px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.71);
  border: 1px solid black;
  border-radius: 5px;
  top: 437px;
  left: 760px;
  color: white;
}

#closeToast {
  cursor: pointer;
}

.add-whole-article-to-collection {
  cursor: pointer;
}
