#collectionsPopUp {
  display: block;
  padding: 0;
  width: 419px;
}

#collectionsPopUp h2 {
  padding-left: 15px;
}

.new-collection {
  padding-left: 15px;
}
.collection-item {
  padding: 5px 15px;
}
.collection-item.current {
  background-color: #f2f2f2;
}

.article:hover .remove-article {
  display: block;
}

.remove-article {
  clear: both;
  float: none;
  display: none;
  cursor: pointer;
}

.remove-article img {
    float: right;
    margin-top: -10px;
    margin-right: -10px;
}

.btn {
  cursor: pointer;
}
.collected-articles {
  position: absolute;
  left: 480px;
  top: 60px;
  width: 885px;
  height: 667px;
  overflow-y: auto;
}
.article {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  background-color: #dedede;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 47.5%;
  display: inline-block;
  vertical-align: top;
}
.article__title {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 10px;
}
.article__source {
  font-size: 12px;
  color: #A2A2A2;
  margin-bottom: 10px;
}

.article__source:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: inherit;
  background-color: #a2a2a2;
  border: none;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #A2A2A2;
  vertical-align: bottom;
  margin-right: 8px;
}

.article__content,
.article__link {
  color: #848484;
  font-size: 18px;
  margin-bottom: 10px;
}
.article__date {
    font-size: 12px;
    color: #A2A2A2;
}

.remove_collection {
    float: right;
    color: darkgray;
}

#u2917,
#u2919,
#u2921,
#u2925,
 #u2910{
  cursor: pointer;
}
