#Message {
  display: none;
  position: absolute;
  top: 307px;
  left: 496px;
  color: white;
  border: 1px;
  background-color: dimgrey;
  height: 37px;
  width: 692px;
  font-size: 28px;
  text-align: center;
  font-family: serif;
}
.message1{
    padding-right : 10px;
    top : 750px;
}
.fa-close {
    color: darkgray;
}
.removeMessage{
cursor:pointer;
}
#addedToBookmarks,
 #RemovedFromBookmarks {
  display: none;
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  position: fixed;
  padding: 10px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.71);
  border: 1px solid black;
  border-radius: 5px;
  top: 437px;
  left: 760px;
  color: white;
}

#u2007_img{
    visibility: visible;
}

#searchCancel{
    display : none;
    color : #848484;
}