.article {
  top: 200px !important;
}

#u2077 {
  position: static;
}

#u2079 {
  width: 375px !important;
}

#u2075 {
  width: 750px !important;
}

#u2041 {
  cursor: pointer;
}

.article .article__image {
  top: 200px;
  width: 300px;
  margin-left: 260px;
  margin-bottom: 10px;
}

.article .article__body p{
  font-size: 16px;
  padding-bottom: 12px;
}

.article__source {
  padding-right: 5px;
}

.web-feed {
  margin-top: 130px;
  width: 410px;
  text-align: left;
}

.web-feed__items {
  margin: 0;
  padding: 0;
}

.web-feed__items .web-feed__item {
  list-style: none;
  border-bottom: 1px solid #d4cccc;
  padding: 10px 15px;
  font-style: normal;
  cursor: pointer;
}

.web-feed__item__title {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}

.web-feed__item__summary {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px;
  color: #848484;
  line-height: 1.5em;
}

.web-feed__item__source-date {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-size: 11px;
  color: #A2A2A2;
  padding-top: 10px;
}

.web-feed__item__source-date:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: inherit;
  background-color: rgba(215, 215, 215, 1);
  border: none;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 8px;
  vertical-align: top;
}

.web-feed__item.current {
  background: #f2f2f2;
}
#filteredWebUrlsList{
    position: absolute;
    left: 0px;
    top: 125px;
    width: 222px;
    height: 18px;
    font-size: 16px;
    list-style: none;
}
#filteredWebUrls{
    text-align : left;
}
#filteredWebUrlsList .filter-web-checkbox{
margin-right:15px;
margin-bottom:5px;
}
#u1881_state0{
visibility: visible;
}








#addToCollectionPopUp {
  position: fixed;
  font-size: 28px;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 4px 15px;
  background: white;
  display: none;
}

#addToCollection {
    padding-right: 5px;
}

#addToCollection .fa-stack {
  width: 1em;
  height: 1em;
  line-height: 1em;
}

#addToCollection .fa-plus {
  font-size: 0.5em;
}

#addToCollectionPopUp .item {
  display: inline-block;
}

#collectionsPopUp {
  display: none;
  position: absolute;
  left: 60px;
  top: 130px;
  width: 379px;
  height: 655px;
  background: white;
  padding: 0 20px;
}

.collections-pop-up-container {
  position: relative;
}

#collectionsPopUp h2 {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.new-collection__label {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.new-collection__label .plus-icon {
  border: 1px dashed #bbb;
  padding: 0 8px 4px;
  border-radius: 4px;
}

.new-collection__form {
  display: none;
}

.collection-avatar-box {
  width: 31px;
  height: 31px;
  background: inherit;
  background-color: #d7d7d7;
  border: none;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.new-collection-name {
  display: inline-block;
  width: 330px;
  height: 39px;
  background-color: #DEDEDE;
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-decoration: none;
  color: #999999;
  text-align: left;
  margin: 15px 0;
}

#collectionList {
  margin: 15px 0;
  padding: 0;
}

.collection-item {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  line-height: normal;
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.collection-item:before {
  content: '';
  width: 41px;
  height: 41px;
  background: inherit;
  background-color: #d7d7d7;
  border: none;
  border-radius: 6px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.btn {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #000000;
  text-align: center;
  line-height: normal;
}

.btn-primary {
  width: 165px;
  height: 48px;
  margin: 0 10px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #999999;
  border-radius: 6px;
}
