.article {
  top: 200px !important;
}

#u2077 {
  position: static;
}

#u2079 {
  width: 375px !important;
}

#u2075 {
  width: 750px !important;
}

#u2641,
#u2668 {
  cursor: pointer;
}

#u2643, #u2641 {
  top: 544px;
}

#u2678 {
  top: 176px;
}
#u2680 {
  top: 181px;
}

#u2685 {
  top: 172px;
}

#u2687 {
  top: 174px;
}

#u2692 {
  top: 13px;
}

#u2676_img {
  position: static;
  height: 270px;
  margin-bottom: 10px;
}

#u2677 {
  position: static;
}

#u2676 {
  top: 227px;
}


.article .article__image {
  top: 200px;
  width: 300px;
  margin-left: 260px;
  margin-bottom: 10px;
}

.article .article__body p{
  font-size: 16px;
  padding-bottom: 12px;
}

.article__source {
  padding-right: 5px;
}

.twitter-feed {
  margin-top: 130px;
  width: 410px;
  text-align: left;
}

.twitter-feed__items {
  margin: 0;
  padding: 0;
  width: 858px;
}

.twitter-feed__items .twitter-feed__item {
  list-style: none;
  border-bottom: 1px solid #d4cccc;
  padding: 10px 15px;
  font-style: normal;
  cursor: pointer;
  width: 380px;
  display: inline-block;
  height: 160px;
  overflow: hidden;
  margin-top: -10px;
}

.twitter-feed__item:nth-child(even) {
    border-left: 1px solid #bbb;
  }

.twitter-feed__item__title {
  font-family: 'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 5px;
}

.twitter-feed__item__summary {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-size: 14px;
  color: #848484;
  line-height: 1.5em;
}

.twitter-feed__item__source-date {
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-size: 11px;
  color: #A2A2A2;
  padding-top: 10px;
}

.twitter-feed__item__source-date:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: inherit;
  background-color: rgba(215, 215, 215, 1);
  border: none;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-right: 8px;
  vertical-align: top;
}

.twitter-feed__item.current {
  background: #f2f2f2;
}
#filteredWebUrlsList{
    width: 282px;
    height: 250px;
    font-size: 16px;
    list-style: none;
    overflow-y: auto;
    padding: 0;
}
#filteredWebUrls{
    text-align : left;
    position: absolute;
    left: 430px;
    top: 150px;
}
#filteredWebUrlsList .filter-web-checkbox{
margin-right:15px;
margin-bottom:5px;
}
#u1881_state0{
visibility: visible;
}

#collectionsPopUp {
  top: 118px;
  width: 799px;
}

.collections-pop-up-container {
    margin-left: 270px;
}

.fa-plus-circle {
  color: #918f8f;
}

.new-hash-tag {
  width: 210px;
  padding: 3px;
  font-size: 16px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.add-hash-tag {
  color: #959595;
  cursor: pointer;
}

#filterTwitterHashTags {
  padding: 0;
}

.hashtag {
  list-style: none;
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
}

.hashtag input {
  margin-right: 14px;
}

#u2619 {
  display: none;
}

.handles-label {
    margin-top: 31px;
    display: inline-block;
}
#RemovedFromBookmarks, #addedToBookmarks
{
  display: none;
  font-family: 'HelveticaNeue', 'Helvetica Neue';
  font-weight: 400;
  font-style: normal;
  position: fixed;
  padding: 10px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.71);
  border: 1px solid black;
  border-radius: 5px;
  top: 437px;
  left: 760px;
  color: white;
}

#u2495_img{
    visibility: visible;
}

#searchCancel{
    display : none;
    color : #848484;
}

#u2675 {
  width: 437px !important;
  top: -36px;
}
