body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u360 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u361 {
  position:absolute;
  left:2px;
  top:376px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362 {
  position:absolute;
  left:596px;
  top:78px;
  width:190px;
  height:27px;
}
#u362_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:27px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u363 {
  position:absolute;
  left:596px;
  top:109px;
  width:190px;
  height:27px;
}
#u363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:27px;
  font-family:'HelveticaNeue', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u364 {
  position:absolute;
  left:1246px;
  top:734px;
  width:56px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
