body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:768px;
}
#u12 {
  position:absolute;
  left:20px;
  top:150px;
  width:1336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:308px;
  background:inherit;
  background-color:rgba(216, 216, 216, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:352px;
  top:248px;
  width:662px;
  height:308px;
}
#u14 {
  position:absolute;
  left:2px;
  top:146px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:55px;
  background:inherit;
  background-color:rgba(151, 151, 151, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u15 {
  position:absolute;
  left:829px;
  top:477px;
  width:140px;
  height:55px;
  font-family:'HelveticaNeue-Medium', 'Helvetica Neue Medium', 'Helvetica Neue';
  font-weight:500;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u16 {
  position:absolute;
  left:2px;
  top:13px;
  width:136px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:163px;
}
#u17 {
  position:absolute;
  left:404px;
  top:284px;
  width:559px;
  height:163px;
}
#u18 {
  position:absolute;
  left:2px;
  top:74px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
